.wave {
  animation-name: wave-animation; 
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

.home-header {
  padding-top: 70px !important;
  font-size: 24px !important;
  font-weight: bolder !important;
  font-family: 'Montserrat', sans-serif !important;
  width: 100% !important;
  height: 45vh !important;
  color: rgb(232, 237, 170) !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
}

.home-section {
  position: relative;
  z-index: -1;
  /* background-image: var(--image-gradient), url(./Assets/home-bg.jpg); */
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.home-content {
  padding: 9rem 0 2rem !important;
  color: whitesmoke;
  text-align: left;
}

.heading {
  font-size: 3em !important;
  padding-left: 95px !important;
  font-weight: bolder !important;
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 45px !important;
  width: 100% !important;
  font-family: 'TimesNewRoman', sans-serif !important;
  font-weight: 700 !important;
}
.nuun{
  color: gold !important;
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  background-image: linear-gradient(to left, rgb(149, 132, 185), rgb(56, 14, 181));
  font-weight: 600 !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #17341c !important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}

.myAvtar {
  justify-content: center !important;
  padding-top: 9em !important;
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
}

.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}
.home-section {
  position: relative;
  /* background-image: url("../../assets/back.jpg"); */
  background-size:contain;
  background-position:inherit;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.home-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Blur only the top part */
  background: linear-gradient(to bottom, rgba(1, 0, 0, 0.5), rgba(2, 1, 1, 0) );
  filter: blur(10px);
  pointer-events: none;
}
.home-about-description {
  color: white !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

.home-about-body {
  padding-top: 50px;
  font-size: 1.2em !important;
  text-align:justify;
  width: 100% !important;
}

.home-about-social {
  text-align: center !important;
  padding-top: 25px;
  color: white !important;
}

.home-about-social-links {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.home-social-icons {
  position: relative !important;
  display: inline-block !important;
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  font-size: 1.2em !important;
  line-height: 2em !important;
  background: rgba(0, 0, 0, 0.972) !important;
  border-radius: 50% !important;
  transition: 0.5s !important;
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #68187a;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #801f95;
}

.home-social-icons:hover {
  color: #ee0d0d;
  box-shadow: 0 0 10px #f9f9f9;
  text-shadow: 0 0 10px #ece7ed;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: #b809ed !important;
}
@media screen and (max-width: 767px) {
  .home-about-section {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  
}