.testimonial-section {
  color: white;
  text-align: center;
  background-image: url('../../assets/testmonial.jpg');
  background-size: 50% auto;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Ensure content starts from the top */
  align-items: center; /* Center the content */
  min-height: 50vh;
  margin-top: 90px;

}
.testimonial-bg {
  width: 100vh;
  left: 0;
}
.testimonial-container {
  margin-top: auto;
  display: flex;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-gap: 20px;
  width: 100%;
}
.comment{
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 14px;
  margin-top: -5px;
}

.testimonial-card {
  background: rgba(0, 0, 0, 0.6);
  padding: 2px;
  border-radius: 10px;
  margin-top: 4px;
}

.testimonial-stars {
  font-size: 24px;
  color: gold;
}

.testimonial-text {
  font-style: italic;
  margin: 1px 0;
  font-size: 0.62rem;
  line-height: 1.05;
}

.testimonial-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.testimonial-image {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 2px solid white;
}

.testimonial-name {
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
  .testimonial-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
  }
}

@media (max-width: 480px) {
  .testimonial-container {
    grid-template-columns: repeat(1, 1fr); /* 1 column for mobile */
  }
}
